
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 30px;
}

.toggle-switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch-label {
  position: absolute;
  top: 0;
  left: 0;
     width: 28px;
    height: 26px;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.3s;
}

.toggle-switch-label:before {
content: "";
    position: absolute;
    top: 1px;
    left: -7px;
    width: 28px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-label {
    background-color: #4CAF50;
    height: 27px;
    width: 3rem;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-label:before {
  transform: translateX(26px);
}

.submit-button {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

